body {
  background-color: #FEFBF4;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.column {
  width: 450px;
  float: left;
  padding: 12px;
}

img {
  height: 25%;
  width: 25%;
  float: right;
  padding: 2px;
}
